*{
    margin: 0;
    padding: 0;
}
#button{
    padding: 20px 10px;
    font-size: 22px;
    background: red;
    border: none;
    cursor: pointer;
}
.div{
    width: 500px;
    margin: auto;
    display: block;
    height: 500px;
    background: blue;
}
.display_none{
    display: none !important;
}